@import '@assets/styles/sprite.styl'
$btn-disable = 306px 0px -306px 0px 212px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-disable';
$btn-hover = 306px 70px -306px -70px 212px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-hover';
$btn-long-disable = 0px 0px 0px 0px 302px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-long-disable';
$btn-long-hover = 0px 70px 0px -70px 302px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-long-hover';
$btn-long-normal = 0px 140px 0px -140px 302px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-long-normal';
$btn-long-pressed = 0px 210px 0px -210px 302px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-long-pressed';
$btn-normal = 306px 140px -306px -140px 212px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-normal';
$btn-pressed = 306px 210px -306px -210px 212px 66px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-pressed';
$btn-short-disable = 0px 280px 0px -280px 182px 64px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-short-disable';
$btn-short-hover = 186px 280px -186px -280px 182px 64px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-short-hover';
$btn-short-normal = 0px 348px 0px -348px 182px 64px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-short-normal';
$btn-short-pressed = 186px 348px -186px -348px 182px 64px 518px 412px '@/common/ui/sprites/src/sprite_main.png' 'btn-short-pressed';
