@import '@assets/styles/sprite.styl'
$payment-icon_alipay_32 = 48px 104px -48px -104px 32px 32px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-icon_alipay_32';
$payment-icon_refresh = 0px 104px 0px -104px 44px 40px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-icon_refresh';
$payment-icon_wechat_32 = 84px 104px -84px -104px 32px 32px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-icon_wechat_32';
$payment-paymethod_1 = 0px 0px 0px 0px 112px 48px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-paymethod_1';
$payment-paymethod_2 = 0px 52px 0px -52px 112px 48px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-paymethod_2';
$payment-selected_1 = 116px 0px -116px 0px 112px 48px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-selected_1';
$payment-selected_bgl = 116px 52px -116px -52px 112px 48px 228px 144px '@assets/sprites/src/sprite_payment.png' 'payment-selected_bgl';
